<div class='container' style='margin-top: 20px;'>
    <h1>My personal home page</h1>
    <p>You can read more about me, or checkout my blog.</p>

    <%= link_to "About me", about_path  %>
    <%= link_to "Blog", posts_path %>
</div>