<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>


<div id='posts' class='container'>
  <h1>Posts</h1>
  <% @posts.each do |post| %>
    <%= render post %>
    <%= link_to "Show this post", post%>
  <% end %>
  <br/>
  <%= link_to "New post", new_post_path %>
</div>

